{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<main>
    <h1>Listado de Cursos</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Camada</th>
        </tr>
        {% for n in cursos %}
        <tr>
            <td>{{n.id}}</td>
            <td>{{n.nombre}}</td>
            <td>{{n.camada}}</td>
            {% if request.user.is_superuser %}
            <td><a href="{% url 'eliminar_curso' n.id %}" class="btn btn-danger">BORRAR</a></td>
            {% endif %}
            <td><a href="{% url 'editar_curso' n.id %}" class="btn btn-warning">EDITAR</a></td>
        </tr>
        {% endfor %}

    </table>

    <a href="{% url 'alta_curso' %}" class="btn btn-primary">Nuevo Curso</a>
</main>
    


{% endblock %}
