<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregables</title>
</head>
<body>
    <h1>Lista de Entregables</h1>
    <nav>
        <ul>
            <li><a href="{% url 'cursos' %}">Cursos</a></li>
            <li><a href="{% url 'estudiantes' %}">Estudiantes</a></li>
            <li><a href="{% url 'profesores' %}">Profesores</a></li>
            <li><a href="{% url 'entregables' %}">Entregables</a></li>
        </ul>
    </nav>
</body>
</html>
